{% extends 'base.html.twig' %}

{% block title %}New Etablissement{% endblock %}

{% block body %}
    <h1 style="color: blue;">Create new Etablissement</h1>

    <div style="background-color: #333; padding: 10px;">
        {{ include('etablissement/_form.html.twig') }}
    </div>

    <a href="{{ path('app_etablissement_index') }}" style="text-decoration: none; color: green;">back to list</a>
{% endblock %}
