{#        {% extends 'base.html.twig' %}             #}

{% block title %}New Etablissement{% endblock %}

{% block body %}
    <h1>Create new Etablissement</h1>

    {{ include('etablissement/_form.html.twig') }}

    <a href="{{ path('app_etablissement_index') }}">back to list</a>
{% endblock %}
