<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
        <div class="description">
          <h3>Stubborn Attachments</h3>
        </div>
      </div>
      <form action="/checkout.php" method="POST">
          <input type="hidden" name="wallet_id" value="{{ walletId }}" />
  <input type="number" name="montant" placeholder="Enter montant en dinar" min="53" required>
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
  </body>
</html>